:root {
    --color: #3F2AFF;
    --hover: #270fff;
    --bg: #212133;
}

html {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #0A2541;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #8FC7FF;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.container {
    max-width: 1196px;
    margin: 0 auto;
}

  .burger {
    display: none;
    position: absolute;
    top: 22px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-image: url(/img/burger.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  
  .burger-menu-link {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
  }
  
  .burger-menu-item:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .burger-close {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 25px;
    height: 25px;
  }

  .menu {
    display: none;
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    right: 0;
    width: 400px;
    height: 100%;
    padding: 100px 40px 40px 40px;
    background-color: #3F2AFF;
    transition: transform .3s ease-in-out;
    transform: translateX(101%);
}

.menu.is-active {
    display: block;
    transform: none;
    position: fixed;
}

/*header*/
.header__container {
    margin-top: 41px;
    padding: 24px 48px 16px 64px;
    background-color: #fff;
    border-radius: 12px;
}

.header__desctop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #0A2541;
    text-transform: uppercase;
}

.header__center {
    margin: 0 auto;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__item:not(:last-child) {
    margin-right: 60px;
} 

.nav__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
}

.btn__left {
    margin-right: 28px;
    padding: 11px 36px;
    min-width: 127px;
    background: #FFFFFF;
    border: 1px solid #7372FF;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #4443D0;
}

.btn__right {
    padding: 11px 36px;
    min-width: 127px;
    background: #4443D0;
    border: none;
    border-radius: 5px; 
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

/* hero */
.hero__inner {
    padding-top: 279px;
    padding-bottom: 127px;
    background-image: url(/img/hero-img.png);
    background-repeat: no-repeat;
    background-position: right center;
}

/* .hero__img {
    position: absolute;
    top: -100px;
    right: -120px;
} */

.hero__title {
    margin-bottom: 17px;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
}

.hero__title-color {
    color: #5352ED;
}

.hero__descr {
    max-width: 526px;
    margin-bottom: 61px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.hero__fieldset {
    display: flex;
    flex-direction: column;
    max-width: 475px;
    border: none;
}

.hero__legend {
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.5);
}

.form__input {
    margin-bottom: 28px;
    padding: 16px 22px;
    background: #FFFFFF;
    border: 1px solid #2A92F9;
    border-radius: 10px;
}

.form__input::placeholder {
    font-size: 16px;
    line-height: 19px;
    color: #9F9F9F;
}

.form__btn {
    padding: 11px 26px;
    max-width: 127px;
    background: #4140CD;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

/* media */
@media (max-width: 1210px) {
    body {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 1100px) {
    .hero__inner {
        background-size: 400px 360px;
        background-position: right 360px;
    }
}

@media (max-width: 920px) {
    .hero__inner {
        padding-bottom: 460px;
        background-size: 400px 360px;
        background-position: left 90%;
        padding-top: 80px;
    }
    
      .burger {
        display: block;
      }

      .header__container {
        background: none;
      }

      .header__desctop {
        display: none;
      }

      .header__right {
        display: flex;
        flex-direction: column;
      }

      .btn__left {
        margin-bottom: 10px;
        width: 300px;
      }

      .btn__right {
        width: 300px;
      }
}

@media (max-width: 480px) {
    .hero__inner {
        background-size: 100%;
    }

    .hero__title {
        font-size: 50px;
        line-height: 58px;
    }

    .menu {
        width: 90%; 
    }

    .btn__left {
        margin-bottom: 10px;
        width: 200px;
      }

      .btn__right {
        width: 200px;
      }
}