body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #1E90FF80;
}
h1, h2, h3, h4, h5, h6 {
    padding: 0; 
    margin: 0;
    text-transform: uppercase;
}
ul,li{
    display: block;
}
.conteiner{
    width: 1170px;
    margin: auto;
}
.title{
    background-color: #FEFEFE;
    width: 1196px;
    height: 83;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 41px;
    display: flex;
}
.title h1{
    font-size: 36px;
    margin-left: 64px;
    margin-top: 25px;
    margin-bottom: 16px;
}
.menu{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.menu li{
    margin-right: 60px;
}
