body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #1E90FF80;
}
h1, h2, h3, h4, h5, h6 {
    padding: 0; 
    margin: 0;
    text-transform: uppercase;
}
ul,li{
    display: block;
}
.conteiner{
    width: 1170px;
    margin: auto;
}
.title{
    background-color: #FEFEFE;
    width: 1196px;
    height: 83;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 41px;
    display: flex;
}
.title h1{
    font-size: 36px;
    margin-left: 64px;
    margin-top: 25px;
    margin-bottom: 16px;
    margin-right: 245px;
}
.menu{
    display: flex;
    margin-right: 0px;
    margin-top: 35px;
    margin-bottom: 29px;
    margin-left: 289;
}
.menu li{
    margin-right: 60px;
}
.btn{
    display: inline-block;
    background-color:#FEFEFE;
    color:#4443D0;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 15px;
    border: solid;
    border-color: #7372FF;
    width: 80px;
    height: 20;
    margin-top: 15px;
    margin-left: 45px;
    text-align: center;
}
.btn1{
    display: inline-block;
    background-color:#4443D0;
    color:#FEFEFE;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 15px;
    border-color: #7372FF;
    width: 80px;
    height: 20;
    margin-top: 15px;
    margin-left: 30px;
    text-align: center;
}
.conteiner p{
    font-size: 64px;
    margin-top: 228px;
    margin-bottom: 17px;
}
.color{
    color:#5352ED;
}
label{
    font-size: 24px;
}
.spam{
    display: flex;
}
