body {
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    padding: 0; 
    margin: 0;
    text-transform: uppercase;
}
ul,li{
    display: block;
}
.conteiner{
    width: 1170px;
    margin: auto;
}
.header{
    background-color: blueviolet;
    
}
header a{
    color:aliceblue;
}
h1{
    color:aliceblue;
}
.menu{
    display:flex;
    margin-left: auto;
}
.menu li a{
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 40px;
}
.one{
    display: flex;
    align-items: center;
}
.two h2{
    margin-top: 100px;
    text-align: center;
    color:aliceblue;
    margin-bottom: 50px;
    line-height: 30px;
}
.btn{
    display: inline-block;
    background-color: #ff7b00;
    color:aliceblue;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 3px;
    margin-bottom: 100px;
    
}
.two{
    text-align: center;
}
.about{
    background-color:#b6e0ff;
    text-align: center;
}
.hjk{
    padding-top: 100px;
    color:black;
}
.fgh{
    width: 100px;
    margin-left: 535px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.gellery{
    display: flex;
}
img{
    width: 25%;
}
.zagal{
    display: flex;
    margin-left: -24px;

}
.zagal div{
    margin-left: 0px;
}
.zagal div h5{
    color:blue;
}
.zagal div h1{
    color: black;
    margin-bottom: 10px;
}
h6{
    color:black;
}
.zagal div h6{
    margin-top: 20px;
    line-height: 20px;
    
}
.zagal1{
    margin-right: -5px;
}
.zagal2{
    margin-right: -8px;
}
.zagal3{
    margin-right: 0px;
}
.poi{
    width: 6%;
}
.pou{
    width: 6%;
}
.poy{
    width: 6%;
}
.pot{
    width: 6%;
}
.shapka{
    text-align: center;
}
.footer{
    background-color: #3c5499;
}