.conteiner{
    width: 1170px;
    margin: auto;
}
.header{
    background-color: blueviolet;
    
}
header a{
    color:aliceblue;
}
h1{
    color:aliceblue;
}
.menu{
    display:flex;
}
.menu li a{
    text-transform: uppercase;
}